/* Disponibilidad */
/* Reservas */
.reservar button {
    margin: 7px 0 2px;
    padding: 11px 17px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

.reservar button:hover {
    background-color: #0056b3;
}

.disponibilidad {
    margin: 23px 0;
    padding: 23px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

.calendar {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.weekdays div {
    flex: 1;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.month {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos para los campos de fecha y hora */
.disponibilidad>div {
    margin-bottom: 17px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 7px;
}

input[type="date"],
input[type="time"] {
    width: 31%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    text-align: center;
}

.reservas form {
    margin-bottom: 30px;
}

.reservas label {
    display: block;
    margin-bottom: 5px;
}

.reservas input,
.reservas select,
.reservas textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.reservas button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.pagos {
    text-align: center;
}