/* Servicios */
.servicios,
.clientes,
.reservas {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 23px;
    border-radius: 7px;
}

.servicios h2,
.clientes h2,
.disponibilidad h3 {
    text-align: center;
    margin-bottom: 23px;
}

.servicio,
.testimonios,
.disponibilidad,
.reservar {
    margin: 23px 0;
    padding: 23px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

.servicio img {
    width: 73%;
    height: auto;
    border-radius: 7px;
}

.servicio h3 {
    margin-top: 17px;
}

.servicio p {
    margin: 11px 0;
}

.servicio button {
    margin-top: 11px;
    padding: 11px 17px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

.servicio button:hover {
    background-color: #0056b3;
}

/* Estilos para la sección de clientes */
/* Estilos para los testimonios */
.clientes button {
    margin: 7px 0 2px;
    padding: 11px 17px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

.clientes button:hover {
    background-color: #0056b3;
}

/* Estilos para las empresas clientes */
.empresas {
    padding: 23px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

.empresas-carousel {
    display: flex;
    padding: 31px;
}

.empresas-carousel img {
    height: auto;
}

/* Estilos para los estudios de casos */
.estudios-casos {
    margin: 23px 0;
    padding: 23px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

.estudios-casos h3 {
    margin-bottom: 17px;
}

.estudios-casos a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.estudios-casos a:hover {
    text-decoration: underline;
}

/* Disponibilidad */
/* Reservas */
.disponibilidad {
    margin: 23px 0;
    padding: 23px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

.reservas form {
    margin-bottom: 30px;
}

.reservas label {
    display: block;
    margin-bottom: 5px;
}

.reservas input,
.reservas select,
.reservas textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.reservas button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.pagos {
    text-align: center;
}