/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 11px 23px;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Información de contacto */
.contacto {
    padding: 40px 0;
}

.contacto p {
    margin-bottom: 15px;
}

.formulario-contacto {
    margin-bottom: 30px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales a {
    margin: 0 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center
}