/* Botón de WhatsApp */
/* Estilos generales del botón */
.whatsapp-button {
    width: 73px;
    height: 73px;
    position: fixed;
    bottom: 23px;
    right: 23px;
    z-index: 100;
}

svg {
    width: 90px;
    filter: drop-shadow(0 3px 7px rgba(0, 0, 0, .7));
}

circle {
    fill: #25d366;
}

path {
    fill: #fff;
}